.user-profile .avatar {
    width: 200px;
    height: 200px;
}

.user-profile .el-upload {
    margin-left: 12px;
}

.user-profile .el-dialog--tiny {
    width: 14% !important;
    min-width: 264px;
}

.user-profile .avatar-uploader .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 200px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.user-profile .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.user-profile .el-icon-plus avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.user-profile .avatar-uploader .el-upload:hover {
    
    border-color: #20a0ff;
}
.title-profile{
    margin:10px;
}