.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

#profile-grid .profile {
    padding-bottom: 40px;
}

#profile-grid .panel {
    padding: 0
}

#profile-grid .panel-body {
    padding: 15px
}

#profile-grid .profile-name {
    font-weight: bold;
}

#profile-grid .thumbnail {
    margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
    overflow: hidden;
}

#profile-grid .img-rounded {
    border-radius: 4px 4px 0 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #0a58ca;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 698px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
}

.nav-fill>.nav-link,
.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified>.nav-link,
.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
}

.card-categogy {
    width: 18rem;
}

.mb-5,
.my-5 {
    margin-bottom: 4rem !important;
}

.mt-5,
.my-5 {
    margin-top: 9rem !important;
}

#icon-menu {
    margin-right: 8px;
    color: darkorange;
}

.bg-dark {
    background-color: #916dd5 !important;


}
.navbar-dark .navbar-brand
{
    margin-right: 700px;
}

.nav-user
{
    background-color: #916dd5 !important;
}

.card-body {
    padding: 18px;
}

.nav-user {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
}

.img-category {
    text-align: center;
    width: 100%;
}

.categor-total {
    display: flex;
    justify-content: end;
    font-size: 12px;
    --tw-text-opacity: 1;
    color: rgba(109, 109, 109, var(--tw-text-opacity));
    margin-bottom: -16px;
}

.categor-total h6 {
    font-size: 12px;
    margin-right: 4px;
    --tw-text-opacity: 1;
    color: rgba(109, 109, 109, var(--tw-text-opacity));
}
/* Default styles for the browser */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
}

header .inner {
    width: 1300px;
    /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo {
    display: table;
    height: 100%;
    float: left;
}

header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img {
    height: 50px;
    margin-top: 5px;
    /* Optical alignment of the logo */
}

header nav {
    float: right;
    height: 100%;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type {
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}


header nav a {
    color: #101010;
}

.nav-link{
    color: #101010 !important;  
}

header nav .button {
    background-color: #1ab26b;
    /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover {
    filter: brightness(1.05);
}

.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
    align-items: center;
    /* text-align: center; */
    display: flex;
    /* color: black; */
}